article
{
  background:black;
  width:100%; 
	overflow:hidden;
}
.main
{
  width:90%; 
	max-width:1000px;  
	overflow:hidden; 
}

article .titulo {
	color: white;
  margin: auto;
	font-size:80px;

}
 
article nav {
	float:right;
	line-height:200px;
}
 
article nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
article nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}